

.container{ font-size: small;}

.Alert{
  display: inline-block;
}
.container{ font-weight: 200;}
.button {
height: 66%;
weight: 66% ;
}
.container
.Alert{ font-size: 26px;
 text-align: center;
  display:flex;
  /*flex-direction: row;*/
  justify-content:space-around;
  margin-right:auto;
  margin-left:auto;
  width: 50%;
  font-weight: bold;
}

.container
.bob { font-size: 25px;
  
  text-align: center;
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  font-weight: bold;
} 

.container
.imput {
 text-align:center;
  display: block;
}

.header{text-align:center;
  display: block;}

.lol{text-align:center;
    display: block;}

    h1{text-align:center;
    display: block;}
    

  

    /* Styling */
    
    /*body {
      margin: auto;
      width: 640px; 
      padding: 50px;
      font-family: 'Lexend Deca', sans-serif; 
      color: #2E475D;    
    }

 
    
  
